<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @invoice.amount %>
</p>

<p>
  <strong>Emission date:</strong>
  <%= @invoice.emission_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @invoice.due_date %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> 
