<%= form_with(model: gas_supply, local: true) do |form| %>
  <% if gas_supply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gas_supply.errors.count, "error") %> prohibited this gas_supply from being saved:</h2>

      <ul>
      <% gas_supply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :provider %>
    <%= form.text_field :provider %>
  </div>

  <div class="field">
    <%= form.label :house_id %>
    <%= form.collection_select(:house_id, House.all, :id, :address) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
